altgraph==0.17.5
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
decorator==5.3.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geopy==2.5.0
idna==3.18
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
ratelim==0.1.6
requests==2.34.2
scipy==1.18.0
setuptools==83.0.0
six==1.17.0
sketchpy==0.1.7
svg.path==7.1
svgpathtools==1.7.2
svgwrite==1.4.3
tqdm==4.70.0
urllib3==2.7.0
